
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body {
    background: #fefefe;
    color: #515555;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    color:#3e4141;
    text-decoration: none;
}

header {
    height: 100vw;
    width: 100vw;
    background-size: cover;
    padding: 30px 35px;
    background-image:url("../images/watercolor-eucalyptus-leaf-bg.png");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    color:#515555;   
    font-weight: bold;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top:-500px;
}

header h1 img {
    margin-left: 300px;
}

header h1 img:hover {
    transform: scale(1.2);
}

header a {
    text-decoration: none;
    color:#444747;
}

header nav{
    margin: 50px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;   
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 1.55vw;
    font-weight: normal;
}

header nav ul li a:hover {
    background: #f3dde2;
    color: #515555;
    border-radius: 5px;
    text-shadow: none;
}

.section-title {
    margin-bottom: 15px;
    background-color: #d9ece5;
    margin: 15px auto;
    padding: 15px;
    text-align: center;
    font-size: 3.0vw;
    font-weight: normal;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}


/* About section */
.about {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    border-bottom: #cad1d1 1px solid;
}

.about-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex: 2 70%;
}

.about-image {
    flex: 1 12%;
    margin-right: 100px;
    margin: 50px;
}

.about-image img {
    border-radius: 5px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

.about-image:hover {
    transform: scale(1.2);
}

.about-text {
    flex: 12;
}
.about-text p {
    color: #515555;
    font-size: 1.55vw;
}

/* Work Section */
.work {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    border-bottom: #cad1d1 1px solid;
}

.work p {
    text-align: center;
    padding: 20px;
}

.work-image {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-right: 15px;    
}


.img-grow {
    border: solid 1.5px #507060;
    border-radius: 5px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-left: 50px;
}
.one {
    flex: 2 1 0;
    text-align: center;
}

.two .three {
    flex: 1 1 0;
}

.img-grow:hover {
    transform: scale(1.2); 
}

.work-text p {
    color: #515555;
    font-size: 1.55vw;
    margin-bottom: 15px;
}


/* Contact section */
.contact {
    background-color: #fefefe;
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
}

.contact p{
    text-align: center;
}

.contact-form input, .contact-form textarea {
    border: 1px solid #515555;
    display: block;
    padding: 7px 15px;
    font-size: 1.55vw;
    color: #515555;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 5px;
    background-color: #eef7f7;
}

.contact-form input:focus, .contact-form textarea:focus {
    background-color: #d9ece5;
    outline: none;
}

.contact-form button {
    width: 10%;
    border: none;
    background: #eef7f7;
    color: #515555;
    text-align: center;
    padding: 10px 0;
    font-size: 1.55vw;
    border-radius: 5px;
}

.contact-form button:hover {
    color: #515555;
    background: #f3dde2;
}

/* footer */ 
footer {
    background: #77a58e;
    width: 100;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h3 {
    color: #444747;
    font-size: 20px;
    margin: 0;
    font-weight: normal;

}

footer nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    
}

footer nav ul li a {
    padding: 10px 15px;
    font-size: 1.55vw;
    font-weight: none;
}

footer nav ul li a:hover {
    background: #f3dde2;
    color: #515555;
    border-radius: 5px;
    text-shadow: none;
}



/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        background-size:100vw;
        background-color: #77a58e;
    }
    
    header h1 img {
        background-position: 80%;
        margin-top: 750px;
        margin-left: 300px;
    }

    header h1 {
        width: 100%;
    }
    
    header nav ul {
        margin-top: -150px;
        margin-left: 175px;
        width: 100%;
    }

    header nav ul li a {
        font-size: 20px;
    }

    .work-image {
        flex: 0 100%;
    }

    .one {
        flex-basis: auto;
        margin: 30px;
    }
    .two, .three {
        flex-basis: 75%;
        margin: 30px;
    }

    .two img, .three img {
        margin-left:200px;
    }

    footer {
        align-content: flex-end;
        justify-content: center;
        height:200px;        
    }

    footer h3 {
        text-align: center;
        width: 100%;  
        margin-bottom: 30px;
    }

    footer nav ul {
        text-align: center;
        margin-bottom: 30px;
    }
}
 
 /* MEDIA QUERY FOR TABLETS AND SMALLER */
 @media screen and (max-width: 768px) {
    header {
        margin: 0;
        background-position-y: 20%;
        height:700px;
    }

    header h1 img {
        max-width: 60%;
        height: auto;
        margin-top: 680px;
        margin-left: 250px;
    }

    header nav ul {
        margin-top: -120px;
        margin-left: 150px;
        width: 80%;
    }

    .work-image .one {
        flex-basis: auto;
        margin: 30px;
    }
    .work-image .two, .work-image .three {
        flex-basis: 65%;
        margin: 30px;
    }

    .two img, .three img {
        margin-left:100px;
    }
 }
 
 /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
 @media screen and (max-width: 575px) {
   header {
       height: 500px;
       background-position-x: 0;
       background-position-y: 10%
   }

   header h1 img {
    max-width: 50%;
    height: auto;
    margin-top: 630px;
    margin-left: 150px;
}

    header nav ul {
        margin-top: -90px;
        margin-left: 90px;
        width: 80%;
    }
 }