
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
    background: #fefefe;
    color: #515555;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a {
    color:#515555;
    text-decoration: none;
}

a:hover {
    color: #507060;
}

header {
    padding: 20px;
    height: 600px;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image:url("/images/watercolor-eucalyptus.jpg");
    background-size:contain;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    top: 0;
}

header h1 {
    margin: 0;
    margin: 0;
    font-size: 40px; 
    color:#515555;   
    font-weight: bold;
}

header a {
    text-decoration: none;
    color:#515555;
}

header nav{
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 1.55vw;
}

header nav ul li a:hover {
    background: #f3dde2;
    color: #515555;
    border-radius: 5px;
    text-shadow: none;
}

